body {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem auto;
    max-width: 95%;
}

header, main {
    display: grid;
    justify-items: center;
}

.logo {
    width: 200px;
    height: 200px;
}

.task-container {
    max-width: 60%;
    padding: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin-top: 10px;
}

.task-element {
    word-wrap: break-word;
    padding: 15px;
    border-radius: 2px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 1px 1px black;
    border: solid 1px black;
}

.task-no-completed {
    background-color: #f7e373;
}

.task-completed {
    background-color: #84df4f;
}

.fix-checkbox {
    display: grid;
    grid-template-columns: 50% 50%;
}

.fix-checkbox input {
    width: 30px;
    height: 30px;
    margin-top: 8%;
    margin-left: 80%;
}

.btn {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
    padding: 10px;
    background-color: #6e84ff;
    color: white;
    border: none;
    transition: background-color .3s;
}

.btn-delete-task:hover, .btn-delete-task:focus {
    background-color: #c0392b;
}

.btn-save-task:hover, .btn-save-task:focus {
    background-color: #84df4f;
}

input[type=text] {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-bottom: 1px solid #757575;
}

input[type=text]:focus {
    outline: none;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
}